 * {

        }

        /*.right {*/
        /*    margin: 0 0 0 680px;*/
        /*}*/

        .content {
            /*background-color: cadetblue;*/
            padding: 130px 0px 0px 25%;
            /*font-style: italic;*/
        }

        .content > h1 {
            font-family: 'Birthstone', cursive;
            font-weight: bolder;
            font-size: 70px;
            color: black;
            line-height:50px;
        }

        .image {
            width: 100%;
            height: 455px;

            background-image: url("https://cdn.pixabay.com/photo/2016/11/23/17/56/couple-1854081_1280.jpg");
            background-size: cover;
            background-position: center;
        }

        .strong {
            font-weight: bold;
            font-size: 20px;
            line-height:30px;
        }

        .title_box {
            width: 100%;
            height: 35px;
            background-color: black;
            color: white;

            text-align: center;
            font-style: italic;
        }

        .title_box p {
            line-height: 35px;
        }


        /*검색*/
        .select-box {
            margin: 20px 0 0 0;
            font-size: larger;
        }

        .group{
            width: 300px;
            display: flex;
        }

        .custom-select{
            margin-top: 8px;
        }

        option {
            text-align: center;
        }

        .btn-sm { width: 80px;}

        .red{
            margin-top: 8px;
        }

        /*.d-flex {*/
        /*    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
        /*    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;*/
        /*    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));*/
        /*    font-family: var(--bs-font-sans-serif);*/
        /*    font-size: 1rem;*/
        /*    font-weight: 400;*/
        /*    line-height: 1.5;*/
        /*    -webkit-text-size-adjust: 100%;*/
        /*    -webkit-tap-highlight-color: transparent;*/
        /*    color: #fff !important;*/
        /*    box-sizing: border-box;*/
        /*    display: flex !important;*/
        /*    flex-wrap: wrap !important;*/
        /*    align-items: center !important;*/
        /*    justify-content: flex-start !important;*/
        /*}*/


        /*명소*/
        .place {
            width: 1100px;
            height: 200px;
            margin: 20px auto 0 auto;
        }

        .fictures {
            display: flex;
            justify-content: space-between;
        }
        .ficture {
            border: 1px solid black;
            width: 200px;
            height: 110px;
        }
        .ficture img {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        .ficture:hover {
            transform: scale(1.1);
            transition: 1.2s;
        }
        .ment {
            font-size: 15px;
            margin-top: 5px;
        }

