 * {

        }

        .content {
            /*background-color: cadetblue;*/
            padding: 150px 0px 0px 25%;
            /*font-style: italic;*/
        }

        .content > h1 {
            font-family: 'Birthstone', cursive;
            font-weight: bolder;
            font-size: 70px;
            color: black;
            line-height:50px;
        }

        .image {
            width: 100%;
            height: 500px;

            background-image: url("https://cdn.pixabay.com/photo/2016/11/23/17/56/couple-1854081_1280.jpg");
            background-size: cover;
            background-position: center;
        }

        .strong {
            font-weight: bold;
            font-size: 20px;
            line-height:30px;
        }

        .title_box {
            width: 100%;
            height: 25px;
            background-color: black;
            color: white;

            text-align: center;
            font-style: italic;
        }


        body {font-family: Arial, Helvetica, sans-serif;}

        /* Full-width input fields */
        input[type=text], input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
          background-color: brown;
          color: white;
          padding: 0px 10px 0px 10px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
        }

        button:hover {
          opacity: 0.8;
        }

        /* Extra styles for the cancel button */
        .cancelbtn {
          width: auto;
          padding: 10px 18px;
          background-color: black;
        }

        /* Center the image and position the close button */
        .imgcontainer {
          text-align: center;
          margin: 24px 0 12px 0;
          position: relative;
          width: 550px;
        }


        .container {
          width: 500px;
          padding: 16px;
        }

        span.psw {
          float: right;
          padding-top: 16px;
        }

        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          padding-top: 60px;
        }

        /* Modal Content/Box */
        .modal-content {
          background-color: #fefefe;
          margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
          border: 1px solid #888;
          width: 533px; /* Could be more or less, depending on screen size */
        }

        /* The Close Button (x) */
        .close {
          position: absolute;
          right: 25px;
          top: 0;
          color: #000;
          font-size: 35px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: red;
          cursor: pointer;
        }

        /* Add Zoom Animation */
        .animate {
          -webkit-animation: animatezoom 0.6s;
          animation: animatezoom 0.6s
        }

        @-webkit-keyframes animatezoom {
          from {-webkit-transform: scale(0)}
          to {-webkit-transform: scale(1)}
        }

        @keyframes animatezoom {
          from {transform: scale(0)}
          to {transform: scale(1)}
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
          span.psw {
             display: block;
             float: none;
          }
          .cancelbtn {
             width: 100%;
          }
        }


        /*!*로그인*!*/
        /*.login {*/
        /*    width: 100px;*/
        /*    background-color: darkred;*/
        /*    color: white;*/
        /*    border: 0;*/
        /*    outline: 0;*/
        /*    margin: 10px 0px 0px 0px;*/
        /*}*/

        /*.login:hover {*/
        /*    opacity: 80%;*/
        /*}*/

        /*검색*/
        .select-box {
            width: 300px;
            margin: 20px 0 0 0;
        }

        .group{
            width: 250px;
            display: flex;
        }

        .custom-select{
            margin-top: 8px;
        }

        option {
            text-align: center;
        }
        /*명소*/
        .place {
            width: 1100px;
            height: 200px;
            margin: 20px auto 0 auto;
        }

        .fictures {
            display: flex;
            justify-content: space-between;
        }
        .ficture {
            border: 1px solid black;
            width: 200px;
            height: 130px;
        }
        .ficture img {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        .ficture:hover {
            transform: scale(1.1);
            transition: 1.2s;
        }
        .ment {
            font-size: 15px;
            margin-top: 5px;
        }

