* {
         box-sizing: border-box;
        }

        .wrap {
            background-image: url("https://cdn.pixabay.com/photo/2016/11/23/17/56/couple-1854081_1280.jpg");
            background-size: cover;
            background-position: top;

            padding-top: 30px;
        }

        .header {
            width: 1100px;
            height: 70px;
            background-color: black;
            margin: 0px auto 0 auto;
        }

        .header p {
            font-size: 28px;
            text-align: center;
            line-height: 70px;
            color: white;
        }

        .content {
            width: 1100px;
            margin: auto;
            display: flex;
        }

        /*지도api위치*/
        .map {
            width: 950px;
            height: 394px;
            margin: 3px 0px 3px 0px;
            border: 1px solid black;

        }

        /*일몰,일출 시간*/
        .time {
            font-size: 20px;
            /*text-align: center;*/
            margin: 3px 0 3px 3px;
            width: 248px;
            padding: 50px;
            border: 1px solid black;
            background-color: white;
        }

        .info {
            font-size: 13px;
            text-align: center;
            line-height: 10px;
        }

        .time span {
            font-weight: lighter;
        }

        #sunrise {
            background-color: white;
        }

        #sunset {
            background-color: white;
        }

        .time strong {
            margin-left: 10px;
        }


        /*정렬순서*/
        .sub-menu {
            width: 100%;
            height: 25px;
            background-color: black;
            color: white;
            text-align: center;
            font-style: italic;
        }

        /*명소 목록*/
        /*.review {*/
        /*    !*width: 1100px;*!*/
        /*    !*height: 200px;*!*/
        /*    margin: 0px auto 0 auto;*/
        /*    display: flex;*/
        /*    !*justify-content: space-between;*!*/
        /*    background-color: #544315;*/
        /*}*/

        /* 보여줄 구간의 높이와 넓이 설정 */
        #slideShow{
            width: 1350px;
            height: 300px;
            position: relative;
            margin: 20px auto 0 auto;
            overflow: hidden;
            /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 1350px 밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/ }

        .slides{
            /*display: flex;*/
            /*justify-content: center;*/
            position: relative;
            left: 0;
            top: 0;
            width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
            transition: left 0.5s ease-out;
            /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
        }

        /* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */
        .slides div:first-child{ margin-left: 50px; }


        /* 슬라이드들 옆으로 정렬 */
        .slides div:not(:last-child){
            float: left;
            margin-right: 20px;
        }

        .slides div{ float: left; }

        .controller span{
            position: absolute;
            background-color: transparent;
            color: black;
            text-align: center;
            border-radius: 50%;
            padding: 10px 20px;
            top: 50%;
            font-size: 1.3em;
            cursor: pointer; }

        /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
        .controller span:hover{
            background-color: rgba(128, 128, 128, 0.11); }

        .prev{ left: 10px; }

        /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
        .prev:hover{
            transform: translateX(-5px); }

        .next{ right: 10px; }

        /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
        .next:hover{ transform: translateX(5px); }


        /*.review-in{*/
        /*    background-color: #d95050;*/
        /*}*/

        .review-in-image {
            border: 1px solid black;
            width: 200px;
            height: 130px;
            list-style-type: none;
        }

        .review-in img {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }

        .review-in p {
            font-size: 15px;
            margin-top: 5px;
        }

        .review-in-image:hover {
            transform: scale(1.05);
            transition: 1.2s;
        }