     /*전체*/
        .wrap {
            width: 900px;
            margin: 30px auto 30px auto;
        }
        /*헤드*/
        .head {
            height: 80px;
            text-align: center;
            margin: 10px 0 0px 0;

            background-image: url("https://c.pxhere.com/photos/aa/76/architecture_bay_blue_sky_boats_buildings_city_cityscape_clouds-1554157.jpg!d");
            background-size: cover;
            background-position: right;
        }
        .head strong {
            font-size: 40px;
            line-height: 80px;
        }

        .sector-line {
            width: 900px;
            border: 0;
            height: 3px;
            background: black;
            margin: 0 auto 20px auto;
        }

        /*컨텐츠*/
        .content {
            display: flex;
            justify-content: space-between;
            width: 900px;
            height: 280px;

        }
        /*사진*/
        .card {
            width: 295px;
            height: 285px;
            line-height: 23px;
        }

        .more {
            float: right;
        }

        .ficture-user img {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        .ficture-user:hover {
            transform: scale(1.05);
            transition: 1.2s;
        }


        .sub-menu {
            width: 100%;
            height: 25px;
            background-color: black;
            color: white;
            text-align: center;
            font-style: italic;
            margin: 60px auto 0px auto;
            /*margin-top: 3px*/
        }
        .card-body{

             height: 40px;
        }

         .section {
             padding: 1rem 1.5rem;
             max-width: 750px;
             margin: auto;
         }

         .is-sparta {

             color: #e8344e !important;
         }

         .heart-box {

         }

         .button.is-sparta {
             background-color: #e8344e;
             border-color: transparent;
             color: #fff !important;
         }

         .button.is-sparta.is-outlined {
             background-color: transparent;
             border-color: #e8344e;
             color: #e8344e !important;
         }

         .modal-content {
             width: 600px;
             max-width: 80%;
         }

         input::-webkit-calendar-picker-indicator {
             display: none;
         }

         .image img {
             object-fit: cover;
             width: 100%;
             height: 100%;
         }
        .noreview{
            text-align: center;
            margin: 30px auto 30px auto;
        }
        .my-box {
            height: 200px;
            border:10px solid wheat;
            padding:30px;
            width: 900px;
            border-radius: 2em;
            background-color: antiquewhite;
        }


.map_wrap, .map_wrap * {margin:0; padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap {position:relative;width:100%;height:450px;}
#category {position:absolute;top:10px;left:10px;border-radius: 5px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2;}
#category li {float:left;list-style: none;width:50px;border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;}
#category li.on {background: #eee;}
#category li:hover {background: #ffe6e6;border-left:1px solid #acacac;margin-left: -1px;}
#category li:last-child{margin-right:0;border-right:0;}
#category li span {display: block;margin:0 auto 3px;width:27px;height: 28px;}
#category li .category_bg {background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;}
#category li .bank {background-position: -10px 0;}
#category li .mart {background-position: -10px -36px;}
#category li .pharmacy {background-position: -10px -72px;}
#category li .oil {background-position: -10px -108px;}
#category li .cafe {background-position: -10px -144px;}
#category li .store {background-position: -10px -180px;}
#category li.on .category_bg {background-position-x:-46px;}
.placeinfo_wrap {position:absolute;bottom:28px;left:-150px;width:300px;}
.placeinfo {position:relative;width:100%;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;padding-bottom: 10px;background: #fff;}
.placeinfo:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.placeinfo_wrap .after {content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#fff;text-decoration: none;}
.placeinfo a, .placeinfo span {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.placeinfo span {margin:5px 5px 0 5px;cursor: default;font-size:13px;}
.placeinfo .title {font-weight: bold; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.placeinfo .tel {color:#0f7833;}
.placeinfo .jibun {color:#999;font-size:11px;margin-top:0;}