*{

        }

        .lead {
            font-family: 'Birthstone', cursive;
            font-weight: lighter;
            font-size: 30px;
            color: black;
            line-height:50px;
        }

        .jumbotron{
            width: 900px;
            margin: 30px auto 10px auto;
            border-radius: 2px;

            background-image: url("https://cdn.pixabay.com/photo/2016/11/23/17/56/couple-1854081_1280.jpg");
            background-position: left;
            background-size: 1200px;
        }

        .container {
            padding-left: 50px;
            padding-right: 50px;
        }

        .card-columns {
            width: 900px;
            margin: auto;
        }

        .card-comment {
            font-weight: bold;
            color: blue;
        }

        .posting-box {
            width: 900px;
            margin: 0 auto 20px auto;

            border: 1px solid black;
            border-radius: 2px;
            padding: 30px;

            display: none;

        }

        .sector-line {
            width: 900px;
            border: 0;
            height: 3px;
            background: black;
        }

        .btn-outline-dark {
            margin-top: 20px;
        }
        #title{
            width:300px;
            height: 30px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 3px solid black;


        }
        #title-box{
            margin-bottom: 10px;
        }

        #place-box{
            margin-bottom: 10px;
        }
        .card-container{
            max-width: 1200px;
            max-resolution: 0 auto;

        }
        .main-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .component img{
            max-width: 100%;
            display: block;
        }
        .component.description{
            text-align: center;
            padding: 1rem;
            margin-bottom: 2rem;
            background-color: #ffffff;
        }
        .description h3{
            margin: 0;
            font-size: 1.3rem;
            line-height: 1.5;
            font-weight: 700;
        }

        @media(min-width: 480px){
            .component{
                flex: 0 0 calc(50%- 1rem);
            }
        }

         @media(min-width: 768px){
            .component{
                flex: 0 0 calc(33.3%- 1rem);
            }
        }

        .list{

            width: 900px;
            margin: 0 auto 20px auto;




        }
