<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--    <link rel="stylesheet" type="text/css" href="login.css">-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <script>


    </script>
    <title>Dear,my sun</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/1page.css">

</head>

<body>

        <div class="image">

            <div class="content">
                <h1>Dear, my sun</h1>
                <h6><span class="strong">일출&일몰 명소,</span> <br> 사랑하는 사람과 함께하세요</h6>
                <button class="login"> Log in </button>

                <form action = "/place" method = "POST" name="selectarea">

                     <div class="select-box">
                        <div class="input-group" id="search">
                            <select class="custom-select" name="inputGroupSelect04">
                                <option selected value="0">------ 지역 선택 ------</option>
                                <option value="서울">서울특별시</option>
                                <option value="경기">경기도</option>
                                <option value="인천">인천광역시</option>
                                <option value="강원">강원도</option>
                                <option value="충북">충청북도</option>
                                <option value="충남">충청남도</option>

                                <option value="전북">전라북도</option>
                                <option value="전남">전라남도</option>
                                <option value="경북">경상북도</option>
                                <option value="경남">경상남도</option>
                                <option value="울산">울산광역시</option>
                                <option value="부산">부산광역시</option>
                                <option value="울릉군">독도/울릉도</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" name="submit" value="success">검색</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>




        <div class="title_box">
            <h7>이번주 인기명소 Top 5</h7>
        </div>
        <div class="place">
            <div class="fictures">
                <div class="ficture 1st">
                    <img src="https://cdn.pixabay.com/photo/2018/06/02/17/50/forest-3448818__340.jpg" alt="ficture">
                    <div class="ment">
                       아이디 : kimbuja <br> 위치 : 이 세상 어딘가
                    </div>
                </div>
                <div class="ficture 2nd">
                    <img src="https://cdn.pixabay.com/photo/2019/08/26/22/02/meadow-4432944__340.jpg" alt="ficture">
                    <div class="ment">
                        아이디 : kimbuja <br> 위치 : 이 세상 어딘가
                    </div>
                </div>
                <div class="ficture 3nd">
                    <img src="https://cdn.pixabay.com/photo/2019/12/17/10/15/sun-4701316__340.jpg" alt="ficture">
                    <div class="ment">
                        아이디 : kimbuja <br> 위치 : 이 세상 어딘가
                    </div>
                </div>
                <div class="ficture 4nd">
                    <img src="https://cdn.pixabay.com/photo/2019/08/26/22/02/meadow-4432944__340.jpg" alt="ficture">
                    <div class="ment">
                        아이디 : kimbuja <br> 위치 : 이 세상 어딘가
                    </div>
                </div>
                <div class="ficture 5nd">
                    <img src="https://cdn.pixabay.com/photo/2019/08/26/22/02/meadow-4432944__340.jpg" alt="ficture">
                    <div class="ment">
                        아이디 : kimbuja <br> 위치 : 이 세상 어딘가
                    </div>
                </div>

            </div>
        </div>

</body>

</html>