<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>Dear,my sun</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">

    <style>
        *{

        }

        .lead {
            font-family: 'Birthstone', cursive;
            font-weight: lighter;
            font-size: 30px;
            color: black;
            line-height:50px;
        }

        .jumbotron{
            width: 900px;
            margin: 30px auto 10px auto;
            border-radius: 2px;

            background-image: url("https://cdn.pixabay.com/photo/2016/11/23/17/56/couple-1854081_1280.jpg");
            background-position: left;
            background-size: 1200px;
        }

        .container {
            padding-left: 50px;
            padding-right: 50px;
        }

        .card-columns {
            width: 900px;
            margin: auto;
        }

        .card-comment {
            font-weight: bold;
            color: blue;
        }

        .posting-box {
            width: 900px;
            margin: 0 auto 20px auto;

            border: 1px solid black;
            border-radius: 2px;
            padding: 30px;

            display: none;

        }
        
        .sector-line {
            width: 900px;
            border: 0;
            height: 3px;
            background: black;
        }

        .btn-outline-dark {
            margin-top: 20px;
        }

    </style>
    <script>
        $(document).ready(function () {
                showArticles();
            });
        // $(document).ready(function () {
        //     $('#cards-box').empty();
        //     listing();
        // });

        // function listing() {
        //     $.ajax({
        //         type: "GET",
        //         url: "http://spartacodingclub.shop/post",
        //         data: {},
        //         success: function (response) {
        //             let rows = response['articles']
        //             for (let i = 0; i < rows.length; i++){
        //                 let comment = rows[i]['comment']
        //                 let desc = rows[i]['desc']
        //                 let title = rows[i]['title']
        //                 let img = rows[i]['image']
        //                 let url = rows[i]['url']
        //
        //                 let temp_html = `<div class="card" style="width: 18rem;">
        //                                     <img class="card-img-top"
        //                                          src="${img}"
        //                                          alt="Card image cap">
        //                                     <div class="card-body">
        //                                         <a class="card-title" href="${url}">${title}</a>
        //                                         <p class="card-text">${desc}</p>
        //                                         <p class="card-comment">${comment}</p>
        //                                     </div>
        //                                 </div>`
        //                 $('#cards-box').append(temp_html)
        //             }
        //         }
        //     })
        // }


        function openclose() {
            let status = $('#post-box').css('display');
            if (status == 'block'){
                $('#post-box').hide();
                $('#btn-posting-box').text('리뷰작성하기');
            } else {
                $('#post-box').show();
                $('#btn-posting-box').text('리뷰작성닫기');
            }
        }


        function postArticle() {
            let where = $('#where').val()
            let img = $('#article-url').val()
            let review = $('#review').val()

                $.ajax({
                    type: "POST",
                    url: "/reviewpage",
                    data: {where_give:where,upload_give:img,review_give:review},
                    success: function (response) { // 성공하면
                        alert(response["msg"]);
                        window.location.reload();
                    }
                })
            }

            function showArticles() {
                $.ajax({
                    type: "GET",
                    url: "/reviewpage",
                    data: {},
                    success: function (response) {
                        let reviews = response['all_reviews']
                        for (let i = 0; i < reviews.length; i++){
                            let where = reviews[i]['where']
                            let upload = reviews[i]['upload']
                            let goreview = reviews[i]['review']

                            // console.log(where, upload, review)
                            let temp_html = `<div class="card">
                                                <img class="card-img-top"
                                                     src="${upload}"
                                                     alt="Card image cap">
                                                <div class="card-body">
                                                    <a target="_blank" href="" class="card-title">${where}</a>
                                                    <p class="card-text">${goreview}</p>
                            <!--                        <p class="card-text comment"> 더보기 </p>-->
                                                </div>
                                            </div>`
                            $('#cards-box').append(temp_html)
                        }
                    }
                })
            }

    </script>
</head>

<body>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 style="font-weight: bold"> 추억저장소 <span class="lead">/ The memory of that day still haunts me.</span></h1>

              <hr class="line-title">
              <a onclick="openclose()" id="btn-posting-box" class="btn btn-dark btn-sm" href="#" role="button">리뷰작성하기</a>
          </div>
        </div>

        <div class="posting-box" id="post-box">
            <div>
                <label>명소 이름</label>
                <select onchange="categoryChange(this)">
                    <option>지역명 선택!</option>
                    <option value="서울">서울특별시</option>
                    <option value="경기">경기도</option>
                    <option value="인천">인천광역시</option>
                    <option value="강원">강원도</option>
                    <option value="충북">충청북도</option>
                    <option value="충남">충청남도</option>

                    <option value="전북">전라북도</option>
                    <option value="전남">전라남도</option>
                    <option value="경북">경상북도</option>
                    <option value="경남">경상남도</option>
                    <option value="울산">울산광역시</option>
                    <option value="부산">부산광역시</option>
                    <option value="울릉군">독도/울릉도</option>
                </select>
                <script>
                    function categoryChange(e) {
                        var area_a = ["선유도공원","하늘공원","아차산정상"];
                        var area_b = ["탄도항","궁평리마을"];
                        var area_c = ["민머루해수욕장","동막해수욕장","을왕리해수욕장","영종도","마시안해변"];
                        var area_d = ["하조대","남애항","정동진해변","태백산","추암해수욕장"];
                        var area_e = ["도담상봉"];
                        var area_f = ["왜목마을","간월암","꽃지해안공원","마량포해돋이마을"];
                        var area_g = ["변산반도","채석강","곰소항"];
                        var area_h = ["도리포","순천만","향일암","세방낙조전망대","남열해수욕장","땅끝마을","완도타워"];
                        var area_i = ["부석사","망양정","호미곶","읍천항","삼사해상공원","혼신지"];
                        var area_j = ["우포늪","지리산 천왕봉","보리암"];
                        var area_k = ["강양항","간절곶"];
                        var area_l = ["죽성성당","다대포"];
                        var area_m = ["울릉도","독도"];



                        var target = document.getElementById("where");

                        if (e.value == "서울") var d = area_a;
                        else if (e.value == "경기") var d = area_b;
                        else if (e.value == "인천") var d = area_c;
                        else if (e.value == "강원") var d = area_d;
                        else if (e.value == "충북") var d = area_e;
                        else if (e.value == "충남") var d = area_f;
                        else if (e.value == "전북") var d = area_g;
                        else if (e.value == "전남") var d = area_h;
                        else if (e.value == "경북") var d = area_i;
                        else if (e.value == "경남") var d = area_j;
                        else if (e.value == "울산") var d = area_k;
                        else if (e.value == "부산") var d = area_l;
                        else if (e.value == "울릉군") var d = area_m;

                        target.options.length = 0;

                        for (x in d) {
                            var opt = document.createElement("option");
                            opt.value = d[x];
                            opt.innerHTML = d[x];
                            target.appendChild(opt);
                        }
                    }
                </script>

                <select id="where">
                    <option>명소 이름을 선택해주세요</option>
                </select>
            </div>

            <div class="form-group">
                <label>사진 업로드</label>
                <input type="file" class="form-control" id="article-url" >
            </div>
            <div>
                <label>리뷰쓰기</label>
                <textarea class="form-control" id="review" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-outline-dark btn-sm" onclick="postArticle()">리뷰저장</button>

        </div>
        
        <hr class="sector-line">
        <div class="card-columns" id="cards-box">

        </div>
    </div>
</body>

</html>