<!DOCTYPE html>
<html>

  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8" />
  </head>
  <script>
     function show() {
         console.log("test");
      var longitude=$("#longitude").val();
        var latitude=$("#latitude").val();
        var date=$("#locdate").val();
      console.log(longitude)
        console.log(latitude)
        console.log(date)


       $.ajax({
         type: "GET",
         url: "http://apis.data.go.kr/B090041/openapi/service/RiseSetInfoService/getLCRiseSetInfo?&longitude="+longitude+"&latitude="+latitude+"&locdate="+date+"&dnYn=N&ServiceKey=/oZ4AFQEH6WdKfRkiTxU9cNH8VHjxNsZO3PeRFfdDwIQLI3TfmMbjfQvhRSJyrACs3w1ARppFgEkiz5ebTfibg==",
         dataType: 'xml',
         success: function(response) {
           xmlParsing(response);

          },
         error: function (xhr, status, msg) { // 통신 실패시 호출해야하는 함수
		  console.log('상태값 : ' + status + ' Http에러메시지 : ' + msg);
		},

      });
        }
        function xmlParsing(data) {
		var infoList = ``;
        console.log(data)
		$(data).find('items').each(function(index, item){


			infoList += `
				<tr>
					<td>${$(this).find('sunrise').text()}</td>
					<td>${$(this).find('sunset').text()}</td>

				</tr>
			`;
			$('#info').empty().append(infoList);

		});
	}
  </script>
  <body>
  <p><input id="longitude" type="number" placeholder="경도" /></p>
  <p><input id="latitude" type="number" placeholder="위도"/></p>
  <p><input id="locdate" type="number" placeholder="날짜"></p>
 <button onclick="show()">일출 일몰 시각보기</button>

  <table>
	  <tr>
	    <th>일출시간</th>
	    <th>일몰시간</th>

	  </tr>
	  <tbody id="info"></tbody>
	</table>

  </body>

</html><script>
(function() {
  var ws = new WebSocket('ws://' + window.location.host + '/jb-server-page?reloadServiceClientId=1');
  ws.onmessage = function (msg) {
      if (msg.data === 'reload') {
          window.location.reload();
      }
      if (msg.data.startsWith('update-css ')) {
          var messageId = msg.data.substring(11);
          var links = document.getElementsByTagName('link');
          for (var i = 0; i < links.length; i++) {
              var link = links[i];
              if (link.rel !== 'stylesheet') continue;
              var clonedLink = link.cloneNode(true);
              var newHref = link.href.replace(/(&|\?)jbUpdateLinksId=\d+/, "$1jbUpdateLinksId=" + messageId);
              if (newHref !== link.href) {
                clonedLink.href = newHref;
              }
              else {
                var indexOfQuest = newHref.indexOf('?');
                if (indexOfQuest >= 0) {
                  // to support ?foo#hash
                  clonedLink.href = newHref.substring(0, indexOfQuest + 1) + 'jbUpdateLinksId=' + messageId + '&' +
                                    newHref.substring(indexOfQuest + 1);
                }
                else {
                  clonedLink.href += '?' + 'jbUpdateLinksId=' + messageId;
                }
              }
              link.replaceWith(clonedLink);
          }
      }
  };
})();
</script>
